In [100]:
import sqlite3

sqliteConnection = sqlite3.connect('datas.db')
cursor = sqliteConnection.cursor()
print("Successfully Connected to SQLite")
cursor.execute("CREATE TABLE data(name text, password text)")

Successfully Connected to SQLite

In [63]:
cursor.execute("CREATE TABLE data(name text, password text)")

In [95]:
cursor.execute('insert into data values("gian", "125")')
sqliteConnection.commit()

In [39]:
cursor.close()

In [101]:
cursor.execute('SELECT * FROM data ')

In [102]:
row = cursor.fetchall()

In [103]:
row

[('waliy1', '321'), ('waliy2', '321'), ('waliy3', '321'), ('waliy3', '321')]

In [112]:
sqliteConnection.close()

In [22]:
type(row)

list

In [23]:
dict(row).keys()

dict_keys(['waliy', 'gian'])

In [108]:
import sqlite3

sqliteConnection = sqlite3.connect('datas.db')
cursor = sqliteConnection.cursor()
print("Successfully Connected to SQLite")

Successfully Connected to SQLite

In [115]:
cursor.execute("CREATE TABLE regist(name text, lomba text)")

ProgrammingError: Cannot operate on a closed database.

In [197]:
sqliteConnection = sqlite3.connect('datas.db')
cursor = sqliteConnection.cursor()
cursor.execute('insert into data values("ian", "125")')
sqliteConnection.commit()
sqliteConnection.close()

In [199]:
sqliteConnection = sqlite3.connect('datas.db')
cursor = sqliteConnection.cursor()
name = 'gianq'
lomba = '324'
cursor.execute("insert into data (name, password) values (?,?)", (name, lomba))
sqliteConnection.commit()
sqliteConnection.close()

In [126]:
sqliteConnection = sqlite3.connect('datas.db')
cursor = sqliteConnection.cursor()
name = 'gian'
lomba = 'punggung'
cursor.execute("insert into regist (name, lomba) values (?,?)", (name, lomba))
sqliteConnection.commit()
sqliteConnection.close()

In [144]:
sqliteConnection = sqlite3.connect('datas.db')
cursor = sqliteConnection.cursor()
print("Successfully Connected to SQLite")
cursor.execute('SELECT * FROM data ')
row = cursor.fetchall()
row

Successfully Connected to SQLite

[('waliy1', '321'),
 ('waliy2', '321'),
 ('waliy3', '321'),
 ('waliy3', '321'),
 ('waliy', 'kupu-kupu'),
 ('gian', '125')]

In [33]:
sqliteConnection = sqlite3.connect('datas.db')
cursor = sqliteConnection.cursor()
print("Successfully Connected to SQLite")
cursor.execute('SELECT * FROM regist ')
row = cursor.fetchall()
row

Successfully Connected to SQLite

[('waliy', 'kupu-kupu'),
 ('name', 'lomba'),
 ('name', 'lomba'),
 ('name', 'lomba'),
 ('gian', 'punggung'),
 ('waliy1', 'Kupu-kupu'),
 ('waliy1', 'Kupu-kupu'),
 ('waliy1', 'Punggung'),
 ('waliy1', 'Kupu-kupu'),
 ('waliy2', 'Bebas'),
 ('waliy2', 'Kupu-kupu'),
 ('waliy2', 'Punggung'),
 ('mia', 'Punggung'),
 ('boy', 'Kupu-kupu'),
 ('boy', 'Punggung'),
 ('sasuke', 'Kupu-kupu'),
 ('mike', 'Punggung')]

In [114]:
sqliteConnection.close()

In [132]:
sqliteConnection = sqlite3.connect('datas.db')
cursor = sqliteConnection.cursor()
print("Successfully Connected to SQLite")
cursor.execute("CREATE TABLE newuser(name text, tgl text, username text, password text)")
sqliteConnection.commit()
sqliteConnection.close()

Successfully Connected to SQLite

In [133]:
sqliteConnection = sqlite3.connect('datas.db')
cursor = sqliteConnection.cursor()
cursor.execute('insert into newuser values("waliy3", "3/12/1990", "wlyi", "linkin")')
sqliteConnection.commit()
sqliteConnection.close()

In [50]:
sqliteConnection = sqlite3.connect('datas.db')
cursor = sqliteConnection.cursor()
print("Successfully Connected to SQLite")
cursor.execute('SELECT * FROM newuser ')
row = cursor.fetchall()
sqliteConnection.commit()
sqliteConnection.close()
row

Successfully Connected to SQLite

[('waliy3', '3/12/1990', 'wlyi', 'linkin'),
 (None, '12/09/2010', 'alva1', 'yusi2'),
 ('melodi', '12/12/2010', 'melo', '1234'),
 ('wlyi', '12/12/1900', 'wlyi', '1234'),
 ('Gianz', '01/09/2010', 'Gianz', '12345'),
 ('bagas', '12/09/2010', 'bagasx', '1234'),
 ('iqbal', '12/09/2010', 'iqbal', '1234'),
 ('akmal', '12/12/1900', 'akmal', '1234'),
 ('mia', '12/09/2010', 'mia', '1234'),
 ('Volic', '01/01/1997', 'volic', 'volic1'),
 ('budi', '12/12/1990', 'budi1', '12345'),
 ('Vita', '01/01/1990', 'vit', '12345'),
 ('super', '12/12/1990', 'super', '123'),
 ('elon', '01/09/2019', 'elon', 'musk'),
 ('Boy Zul', '01/09/1997', 'boy', '123'),
 ('gabriel', '1', 'gab', '345'),
 ('mada', '2', 'mada', '12345'),
 ('nada', '12', 'nada', '12345'),
 ('kobe', '12', 'kobe', '12345'),
 ('cury', '1', 'cury', '123'),
 ('alfa', '01/01/2018', 'alfa', '1234'),
 ('messi', '12/12/2000', 'messi', '12345'),
 ('zach', '12', 'zach', '12345'),
 ('jet', '01/01/2010', 'jet', '12345'),
 ('steph', '1/1/190', 'steph', '123'),
 ('ja', '1', 'ja', '12345'),
 ('aoc', '1', 'aoc', '123'),
 (None, None, None, None),
 (None, None, None, None),
 ('regita', '1', 'reg', '123'),
 ('enji', '1', 'enji', '1234'),
 ('hani', '1', 'hani', '123'),
 ('albert', '1', 'albert', '123'),
 ('oppie', '1', 'oppie', '123'),
 ('lufi', '1', 'lufi', '123'),
 ('jek', '1', 'jek', '123'),
 ('che', '1', 'che', '123'),
 ('mike', '1', 'mike', '123'),
 ('sasuke', '1', 'sasuke', '123'),
 ('sarada', '1', 'sarada', '123'),
 ('zul', '1', 'zul', '123'),
 ('emily', '1', 'emily', '123'),
 ('ryan', '1', 'ryan', '123'),
 ('gone', '1', 'gone', '123')]

In [49]:
sqliteConnection = sqlite3.connect('datas.db')
cursor = sqliteConnection.cursor()
print("Successfully Connected to SQLite")
cursor.execute('SELECT * FROM data ')
row = cursor.fetchall()
sqliteConnection.commit()
sqliteConnection.close()
row

Successfully Connected to SQLite

[('waliy1', '321'),
 ('waliy2', '321'),
 ('waliy3', '321'),
 ('waliy3', '321'),
 ('waliy', 'kupu-kupu'),
 ('gian', '125'),
 ('ian', '125'),
 ('gianq', '324'),
 ('mia', '1234'),
 ('volic', 'volic1'),
 ('budi1', '12345'),
 ('vit', '12345'),
 ('super', '123'),
 ('elon', 'musk'),
 ('boy', '123'),
 ('gab', '345'),
 ('mada', '12345'),
 ('nada', '12345'),
 ('kobe', '12345'),
 ('cury', '123'),
 ('alfa', '1234'),
 ('messi', '12345'),
 ('zach', '12345'),
 ('jet', '12345'),
 ('steph', '123'),
 ('ja', '12345'),
 ('aoc', '123'),
 (None, None),
 (None, None),
 ('reg', '123'),
 ('enji', '1234'),
 ('hani', '123'),
 ('albert', '123'),
 ('oppie', '123'),
 ('lufi', '123'),
 ('jek', '123'),
 ('che', '123'),
 ('mike', '123'),
 ('sasuke', '123'),
 ('sarada', '123'),
 ('zul', '123'),
 ('emily', '123'),
 ('ryan', '123'),
 ('gone', '123')]

In [43]:
import sqlite3